<div class="row">
	<div class="col-xs-12">
		<p>Add new Servers or blueprints!</p>
		<label>Server Name</label>
		<!-- <input type="text" class="form-control" [(ngModel)]="newElementName"> -->
		<input 
			type="text" 
			class="form-control" 
			[(ngModel)]="newElementName"
			#serverNameInput>
		<label>Server Content</label>
		<!-- <input type="text" class="form-control" [(ngModel)]="newElementContent"> -->
		<input 
			type="text" 
			class="form-control" 
			[(ngModel)]="newElementContent"
			#serverContentInput>
		<br>
		<div class="div" class="btn-toolbar">
			<button class="btn btn-primary" (click)="onAddServer(serverNameInput)">Add Server</button>
			<button class="btn btn-primary" (click)="onAddBlueprint()">Add Server Blueprint</button>
		</div>
	</div>
</div>
