<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>
    <ul class="nav navbar-nav">
      <li *ngIf="isAuthenticated == false" routerLinkActive="active">
        <a [routerLink]="['/auth']">Authentication</a>
      </li>
      <li *ngIf="isAuthenticated == true" routerLinkActive="active">
        <a [routerLink]="['/recipes']">Recipes</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/shopping-list']">Shopping List</a>
      </li>
      <li *ngIf="isAuthenticated == true">
        <a (click)="onSaveData()" style="cursor: pointer;">Save Data</a>
      </li>
      <li *ngIf="isAuthenticated == true">
        <a (click)="onFetchData()" style="cursor: pointer;">Fetch Data</a>
      </li>
      <li *ngIf="isAuthenticated == true">
        <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>